
ul.pager {
  position: relative;

  li.previous.disabled {
    display: none;
  }

  li > a {
    @include card-boxing;
    background-color: $brand-primary;
    color: white;
    
    &:focus,
    &:hover {
      background-color: lighten( $brand-primary, 30% );
    }
  }

  .glyphicon {
    font-size: 12px;
  }

  li.current {
    @extend .text-center;

    position: absolute;
    left: 50%;
    width: 130px;
    margin-left: -65px;

    > span {
      padding: 7px 0;
      border: 0;
      background-color: transparent;
      box-shadow: none;
      cursor: text;
      color: $text-color;
    }
  }

  li > a {
    cursor: pointer;
  }
}
