
.cr-search-pager {
  @include clearfix()
  position: relative;
  padding-left: 0px;
  text-align: center;
  margin: 20px 0px;
  list-style: none;

  &__previous {
    float: left;
  }

  &__next {
    float: right;
  }

  &__previous.disabled {
    display: none;
  }

  &__link {
    @include card-boxing;
    background-color: $brand-primary;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 9px 14px;
    height: 40px;
    
    &:focus,
    &:hover {
      background-color: #6C5C99;
      color: white;
      text-decoration: none;
    }
  }

  .glyphicon {
    font-size: 12px;
  }

  &__current {
    @extend .text-center;

    position: absolute;
    left: 50%;
    width: 130px;
    margin-left: -65px;
  }

  &__indicator {
    padding: 9px 14px;
    height: 40px;
    border: 0;
    display: inline-block;
    background-color: transparent;
    box-shadow: none;
    cursor: text;
    color: $text-color;
  }
}
