
.CalendarMonth {

  &__day--selected-span  {
    color: #333;
    border: 1px double #e4e7e7;
  }

  &__day--selected-start, &__day--selected-end {
    border: 1px double #e4e7e7;
  }

  &__day--hovered {
    color: #ffffff;
  }
}

.DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--hovered-span {
  color: #333;
  border: 1px double #e4e7e7;
}

.DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--selected-start,  .DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--selected-end{
  border: 1px double #e4e7e7;
}



.DayPicker {

  &--horizontal {
    border: 1px solid #c8c9c7;
    border-radius: 4px;
    box-shadow: none;
    overflow: hidden;
  }
}

.DateRangePickerInput {
  border: 2px solid #c8c9c7;
  border-radius: 4px;
  box-shadow: none;
}

.DateInput {
  padding: 5px;
  width: 110px;
  text-align: center;

  &__display-text {
    font-size: 16px;
    color: #333;
    padding: 1px 6px;
  }

  &__display-text--focused {
    color: #333;
  }
}

.DateRangePickerInput__arrow svg {
  width: 20px;
  height: 20px;
}

..DateRangePickerInput__clear-dates {
  margin: 0 14px 0 5px;
  padding: 6px;
}
