// Autocomplete styles.
.cr-autocomplete {
  z-index: 9999;
  background-color: #fff;
  list-style: none;
  padding: 0px;
  margin: 0px;
  border: 2px solid $brand-tertiary;
  border-top: 0 none;
  border-radius: 0 0 4px 4px;
  overflow-x: hidden;
  overflow-y: auto;

  &__list-item {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 30px 10px 12px;
    position: relative;
  }

  &__list-item:hover,  &__list-item:focus{
    background: #f5f5f5;
  }
}
