
.cr-search-results {
  @extend .media-list;
}

.cr-search-result {
  @extend .media;
  @include card-boxing;

  margin-top: 15px;
  padding: 15px;

  &__title {
    @extend .media-heading;
    font-size: 19px;

    margin-bottom: 7px;
  }

  &__meta {
    @extend .list-inline;

    margin-bottom: 5px;
  }

  &__url {
    @extend .text-muted;

    margin-bottom: 5px;
  }

  &__excerpt {

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__media-body {
    @extend .media-body;
  }

  &__media-left {
    @extend .media-left;
  }

  &__media-right {
    @extend .media-right;
  }

}
